<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="MonetarWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />        
    </sectionGroup>
    <sectionGroup name="Signature" type="System.Configuration.IgnoreSectionHandler">
      <section name="SignedInfo" type="System.Configuration.IgnoreSectionHandler" />
      <section name="SignatureValue" type="System.Configuration.IgnoreSectionHandler" />      
    </sectionGroup>
</configSections>
<System.Windows.Forms.ApplicationConfigurationSection>
  <add key="DpiAwareness" value="PerMonitorV2" />
  <add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />
</System.Windows.Forms.ApplicationConfigurationSection>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />  
</startup>
    <userSettings>
        <MonetarWin.Properties.Settings>
            <setting name="BranchName" serializeAs="String">
                <value>S.C. Global Biz S.R.L. </value>
            </setting>
            <setting name="BranchAddres" serializeAs="String">
                <value />
            </setting>
            <setting name="WarnMsg" serializeAs="String">
                <value>Program destinat folosirii EXCLUSIVE în interiorul firmei Global Biz SRL. Utilizarea neautorizată este strict interzisă și va fi sancționată conform legislației în vigoare.</value>
            </setting>
            <setting name="Currency" serializeAs="Xml">
                <value>
                    <ArrayOfCurrency xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <Currency>
                            <Name>LEI</Name>
                            <Description>LEI - Leu românesc</Description>
                            <DenomAmounts>
                                <CurrencyDenomAmount>
                                    <DenomName>500 LEI</DenomName>
                                    <DenomValue>500</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>200 LEI</DenomName>
                                    <DenomValue>200</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>100 LEI</DenomName>
                                    <DenomValue>100</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>50 LEI</DenomName>
                                    <DenomValue>50</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>10 LEI</DenomName>
                                    <DenomValue>10</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>5 LEI</DenomName>
                                    <DenomValue>5</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>1 LEI</DenomName>
                                    <DenomValue>1</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>50 BANI</DenomName>
                                    <DenomValue>0.5</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>10 BANI</DenomName>
                                    <DenomValue>0.1</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>5 BANI</DenomName>
                                    <DenomValue>0.05</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>1 BAN</DenomName>
                                    <DenomValue>0.01</DenomValue>
                                </CurrencyDenomAmount>
                            </DenomAmounts>
                        </Currency>
                        <Currency>
                            <Name>GBP</Name>
                            <Description>GBP - Lira sterlină</Description>
                            <DenomAmounts>
                                <CurrencyDenomAmount>
                                    <DenomName>50 GBP</DenomName>
                                    <DenomValue>50</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>20 GBP</DenomName>
                                    <DenomValue>20</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>10 GBP</DenomName>
                                    <DenomValue>10</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>5 GPB</DenomName>
                                    <DenomValue>5</DenomValue>
                                </CurrencyDenomAmount>
                            </DenomAmounts>
                        </Currency>
                        <Currency>
                            <Name>USD</Name>
                            <Description>USD - Dolar american</Description>
                            <DenomAmounts>
                                <CurrencyDenomAmount>
                                    <DenomName>100 USD</DenomName>
                                    <DenomValue>100</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>50 USD</DenomName>
                                    <DenomValue>50</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>20 USD</DenomName>
                                    <DenomValue>20</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>10 USD</DenomName>
                                    <DenomValue>10</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>5 USD</DenomName>
                                    <DenomValue>5</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>2 USD</DenomName>
                                    <DenomValue>2</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>1 USD</DenomName>
                                    <DenomValue>1</DenomValue>
                                </CurrencyDenomAmount>
                            </DenomAmounts>
                        </Currency>
                        <Currency>
                            <Name>CAD</Name>
                            <Description>CAD - Dolar canadian</Description>
                            <DenomAmounts>
                                <CurrencyDenomAmount>
                                    <DenomName>100 CAD</DenomName>
                                    <DenomValue>100</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>50 CAD</DenomName>
                                    <DenomValue>50</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>20 CAD</DenomName>
                                    <DenomValue>20</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>10 CAD</DenomName>
                                    <DenomValue>10</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>5 CAD</DenomName>
                                    <DenomValue>5</DenomValue>
                                </CurrencyDenomAmount>
                            </DenomAmounts>
                        </Currency>
                        <Currency>
                            <Name>EUR</Name>
                            <Description>EUR - Euro</Description>
                            <DenomAmounts>
                                <CurrencyDenomAmount>
                                    <DenomName>500 EUR</DenomName>
                                    <DenomValue>500</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>200 EUR</DenomName>
                                    <DenomValue>200</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>100 EUR</DenomName>
                                    <DenomValue>100</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>50 EUR</DenomName>
                                    <DenomValue>50</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>20 EUR</DenomName>
                                    <DenomValue>20</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>10 EUR</DenomName>
                                    <DenomValue>10</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>5 EUR</DenomName>
                                    <DenomValue>5</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>2 EUR</DenomName>
                                    <DenomValue>2</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>1 EUR</DenomName>
                                    <DenomValue>1</DenomValue>
                                </CurrencyDenomAmount>
                            </DenomAmounts>
                        </Currency>
                        <Currency>
                            <Name>CHF</Name>
                            <Description>CHF - Franc elvețian</Description>
                            <DenomAmounts>
                                <CurrencyDenomAmount>
                                    <DenomName>1000 CHF</DenomName>
                                    <DenomValue>1000</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>200 CHF</DenomName>
                                    <DenomValue>200</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>100 CHF</DenomName>
                                    <DenomValue>100</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>50 CHF</DenomName>
                                    <DenomValue>50</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>20 CHF</DenomName>
                                    <DenomValue>20</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>10 CHF</DenomName>
                                    <DenomValue>10</DenomValue>
                                </CurrencyDenomAmount>
                            </DenomAmounts>
                        </Currency>
                        <Currency>
                            <Name>BGN</Name>
                            <Description>BGN - Leva bulgărească</Description>
                            <DenomAmounts>
                                <CurrencyDenomAmount>
                                    <DenomName>100 BGN</DenomName>
                                    <DenomValue>100</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>50 BGN</DenomName>
                                    <DenomValue>50</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>20 BGN</DenomName>
                                    <DenomValue>20</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>10 BGN</DenomName>
                                    <DenomValue>10</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>5 BGN</DenomName>
                                    <DenomValue>5</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>2 BGN</DenomName>
                                    <DenomValue>2</DenomValue>
                                </CurrencyDenomAmount>
                                </DenomAmounts>
                        </Currency>
                        <Currency>
                            <Name>SEK</Name>
                            <Description>SEK - Coroana suedeză</Description>
                            <DenomAmounts>
                                <CurrencyDenomAmount>
                                    <DenomName>1000 kr</DenomName>
                                    <DenomValue>1000</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>500 kr</DenomName>
                                    <DenomValue>500</DenomValue>
                                </CurrencyDenomAmount>
								<CurrencyDenomAmount>
									<DenomName>200 kr</DenomName>
									<DenomValue>200</DenomValue>
								</CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>100 kr</DenomName>
                                    <DenomValue>100</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>50 kr</DenomName>
                                    <DenomValue>50</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>20 kr</DenomName>
                                    <DenomValue>20</DenomValue>
                                </CurrencyDenomAmount>
                            </DenomAmounts>
                        </Currency>
                        <Currency>
                            <Name>AUD</Name>
                            <Description>AUD - Dolar australian</Description>
                            <DenomAmounts>
                                <CurrencyDenomAmount>
                                    <DenomName>100 A$</DenomName>
                                    <DenomValue>100</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>50 A$</DenomName>
                                    <DenomValue>50</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>20 A$</DenomName>
                                    <DenomValue>20</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>10 A$</DenomName>
                                    <DenomValue>10</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>5 A$</DenomName>
                                    <DenomValue>5</DenomValue>
                                </CurrencyDenomAmount>
                            </DenomAmounts>
                        </Currency>
                        <Currency>
                            <Name>NOK</Name>
                            <Description>NOK - Coroana norvegiană</Description>
                            <DenomAmounts>
                                <CurrencyDenomAmount>
                                    <DenomName>1000 kr</DenomName>
                                    <DenomValue>1000</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>500 kr</DenomName>
                                    <DenomValue>500</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>200 kr</DenomName>
                                    <DenomValue>200</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>100 kr</DenomName>
                                    <DenomValue>100</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>50 kr</DenomName>
                                    <DenomValue>50</DenomValue>
                                </CurrencyDenomAmount>
                            </DenomAmounts>
                        </Currency>
                        <Currency>
                            <Name>DKK</Name>
                            <Description>DKK - Coroana daneză</Description>
                            <DenomAmounts>
                                <CurrencyDenomAmount>
                                    <DenomName>1000 kr</DenomName>
                                    <DenomValue>1000</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>500 kr</DenomName>
                                    <DenomValue>500</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>200 kr</DenomName>
                                    <DenomValue>200</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>100 kr</DenomName>
                                    <DenomValue>100</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>50 kr</DenomName>
                                    <DenomValue>50</DenomValue>
                                </CurrencyDenomAmount>
                            </DenomAmounts>
                        </Currency>
                        <Currency>
                            <Name>CZK</Name>
                            <Description>CZK - Coroana cehă</Description>
                            <DenomAmounts>
                                <CurrencyDenomAmount>
                                    <DenomName>5000 kc</DenomName>
                                    <DenomValue>5000</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>2000 kc</DenomName>
                                    <DenomValue>2000</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>1000 kc</DenomName>
                                    <DenomValue>1000</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>500 kc</DenomName>
                                    <DenomValue>500</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>200 kc</DenomName>
                                    <DenomValue>200</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>100 kc</DenomName>
                                    <DenomValue>100</DenomValue>
                                </CurrencyDenomAmount>
                                </DenomAmounts>
                        </Currency>
                        <Currency>
                            <Name>PLN</Name>
                            <Description>PLN - Zlot polonez</Description>
                            <DenomAmounts>
                                <CurrencyDenomAmount>
                                    <DenomName>500 zl</DenomName>
                                    <DenomValue>500</DenomValue>
                                </CurrencyDenomAmount>
								<CurrencyDenomAmount>
									<DenomName>200 zl</DenomName>
									<DenomValue>200</DenomValue>
								</CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>100 zl</DenomName>
                                    <DenomValue>100</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>50 zl</DenomName>
                                    <DenomValue>50</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>20 zl</DenomName>
                                    <DenomValue>20</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>10 zl</DenomName>
                                    <DenomValue>10</DenomValue>
                                </CurrencyDenomAmount>
                            </DenomAmounts>
                        </Currency>
                        <Currency>
                            <Name>TRY</Name>
                            <Description>TRY - Lira turcească</Description>
                            <DenomAmounts>
                                    <CurrencyDenomAmount>
                                    <DenomName>100 TRY</DenomName>
                                    <DenomValue>100</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>50 TRY</DenomName>
                                    <DenomValue>50</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>20 TRY</DenomName>
                                    <DenomValue>20</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>10 TRY</DenomName>
                                    <DenomValue>10</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>5 TRY</DenomName>
                                    <DenomValue>5</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>1 TRY</DenomName>
                                    <DenomValue>1</DenomValue>
                                </CurrencyDenomAmount>
                            </DenomAmounts>
                        </Currency>
                        <Currency>
                            <Name>HUF</Name>
                            <Description>HUF - Forint maghiar</Description>
                            <DenomAmounts>
                                <CurrencyDenomAmount>
                                    <DenomName>20000 Ft</DenomName>
                                    <DenomValue>20000</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>10000 Ft</DenomName>
                                    <DenomValue>10000</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>5000 Ft</DenomName>
                                    <DenomValue>5000</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>2000 Ft</DenomName>
                                    <DenomValue>2000</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>1000 Ft</DenomName>
                                    <DenomValue>1000</DenomValue>
                                </CurrencyDenomAmount>
                                <CurrencyDenomAmount>
                                    <DenomName>500 Ft</DenomName>
                                    <DenomValue>500</DenomValue>
                                </CurrencyDenomAmount>
                                </DenomAmounts>
                        </Currency>
                    </ArrayOfCurrency>
                </value>
            </setting>
        </MonetarWin.Properties.Settings>
    </userSettings>
  
<Signature xmlns="http://www.w3.org/2000/09/xmldsig#"><SignedInfo><CanonicalizationMethod Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315" /><SignatureMethod Algorithm="http://www.w3.org/2000/09/xmldsig#rsa-sha1" /><Reference URI=""><Transforms><Transform Algorithm="http://www.w3.org/2000/09/xmldsig#enveloped-signature" /></Transforms><DigestMethod Algorithm="http://www.w3.org/2000/09/xmldsig#sha1" /><DigestValue>09yTh89QtAIMvRiVvV3RbB5VAQ8=</DigestValue></Reference></SignedInfo><SignatureValue>r2ecScb/NGbE/CiUMu/5qXmhxZ6UV/xd/nff7w4PrpBoo8NOyDX6olO8ufNp9qYRNX8NLbDP2fMtwtHSv20x6t6UHg+NLTralh4Pivwv0p0MzenaNaaf7gWAtoxlNwzJofBniGuN4+c0eERf822QfXrMUcONzQBCfOG7K7qkZcc=</SignatureValue></Signature></configuration>
